.footer {
    background-color: rgba(236, 122, 7, 0.952); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    padding: 15px 30px;
    font-size: 0.9rem;
}
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }

  .learn-more {
    margin-right: 900px; /* Сдвигает "Learn More" вправо */
}